*{
    margin:0;
    padding:0;
    font-family: 'Source Sans Pro', sans-serif;
    z-index: 0;
    box-sizing: border-box;
}
body{
    background-color: #edeae5;

}
body, html{
  width: 100%;
}

img {
    height: auto;
    max-width: 100%;
    vertical-align: middle;
  }

/*================== NAVBAR ================ */
header{
    position: fixed;
    z-index:2;
    padding: 0.5rem;
    width: 100%;
    height: 3rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #ea8c6c;
}

#naslov a{
    font-family: 'Poppins', sans-serif;
}

nav{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-right: 15px;
}
nav ul{
    list-style-type: none;
    display: flex;
    float: right;
}
#toggle{
  display: none;
}
nav li a, #naslov a, .responsive-nav li a, .dropdown-admin p, .dropdown-responsive-admin p{
    text-decoration: none;
    color: white;
    padding: 0.5rem;
}
nav li a, .responsive-nav li a, .dropdown-admin p, .dropdown-responsive-admin p{
  font-weight: 500;
}

nav li a:hover, #naslov a:hover, .dropdown-admin p:hover, .dropdown-responsive-admin p:hover{
    color: #c5e5e4;
}
.dropdown-options {
  display: none;
  position: absolute;
  overflow: auto;
  background-color:#ea8c6c;
  border-radius:5px;
  box-shadow: rgba(0, 0, 0, 0.45) 0px 25px 20px -20px;
}
.dropdown-responsive-admin .dropdown-options{
  margin-top: 2rem;
}

.dropdown-options a {
  display: block;
  color: #ffffff;
  font-size: 1rem;
  padding: 5px;
  text-decoration: none;
  padding:20px 40px;
}

.dropdown-options a:hover {
  color: #a22d18;
}
.dropdown-admin p{
  display: inline;
  cursor:pointer;
}
.responsive-nav{
    z-index: 1;
    display: none;
    position: relative;
    width: 100%;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    top: 3rem;
    left:0;
    right:0;
    background-color: #dc8978;
}
.dropdown-responsive-admin{
    display: flex;
    justify-content: center;
}

.responsive-nav li a, .dropdown-responsive-admin p{
    text-decoration: none;
    display: flex;
    font-size: 1rem;
    align-items: center;
    justify-content: center;
}
.responsive-nav li a:hover{
    background-color: #ea9189;
    color: #ffffff;
}

@media(max-width: 800px){
    #nav-desno{
      display: none;
    }
    .responsive-nav{
        height: max-content;
    }
    #toggle{
      display: inline;
      cursor: pointer;
    }
    #toggle:hover{
      color: #e47878;
    }
  }

/*================== POCETNA STRANICA ================ */
.glavni-ekran{
    position: relative;
    top: 3rem;
    display: block;
    width: 100%;
}
#naslovni{
    position: absolute;
    font-size: 1.5rem;
    top: 50%;
    left: 50%;
    width: 80%;
    color: white;
    text-align: center;
    transform: translate(-50%, -50%);
}
.glavni-ekran button{
  position: absolute;
  padding: 1vw;
  margin-bottom: 1rem;
  font-size: 1rem;
  width: fit-content;
  left: 50%;
  transform: translate(-50%, -50%);
}
@media(max-width:350px){
  #naslovni{
    font-size:1rem
  }
}
/*================== AGENCIJE ================ */
#ag{
  margin-top:3rem;
  background-color: rgb(237, 237, 237);
  font-size: 2em;
  text-align: center;
  color: #5ca398;
  padding: 10px;
}

.pretraga{
  margin-bottom: 1rem;
  display: flex;
  flex-direction: column;
  background-color: rgb(237, 237, 237);
  justify-content: center;
  align-items: center;
}
#pretraga-radio{
  display:block;
  font-size: 1em;
  padding: 1vw;
}
#pretraga-radio input{
  font-size: 1vw;
  margin: 0.5vw;
}

.search {
  width: 60%;
  display: flex;
}

.searchTerm {
  width: 100%;
  border: 2px solid #d2d2d2;
  border-right: none;
  padding: 1vw;
  border-radius: 5px 0 0 5px;
  outline: none;
  color: #9DBFAF;
}

.searchTerm:focus{
  color: #188072;
}

.searchButton {
  width: 5rem;
  border: 1px solid #d9d9d9;
  background: #0B3C5D;
  text-align: center;
  color: #fff;
  border-radius: 0 5px 5px 0;
  cursor: pointer;
  font-size: 1.5vw;
}

.agency{
  position: relative;
  display: grid;
  min-height: 40vh;
  grid-template-columns: 1fr repeat(12, minmax(auto, 60px)) 1fr;
  grid-gap: 3vw;
  background-color: #98dad6;
  padding: 2vw 0;
  width: 100%;
}

.card p {
  font-family: "Open Sans", sans-serif;
  font-size: 1em;
  font-weight: 400;
  color: rgb(76, 81, 81);
}

.cards {
  grid-column: 2 / span 12;
  display: grid;
  grid-template-columns: repeat(12, minmax(auto, 60px));
  grid-gap: 3vw;
}

.card {
  box-shadow: rgba(9, 30, 66, 0.25) 0px 1px 1px, rgba(9, 30, 66, 0.13) 0px 0px 1px 1px;
  grid-column-end: span 4;
  display: flex;
  flex-direction: column;
  background-color: #ecf0f1;
  border-radius: 2%;
}


.card-image{
  width: 100%;
  padding-top: 56.25%;
  overflow: hidden;
  position: relative;
  border-radius: 2%;
  box-shadow: 0px 15px 10px -15px #0f1727;   
}

.card-image img {
  width: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.card-content {
  padding: 2vw;
  position: relative;
}

.card h2 {
  font-weight: 800;
  margin-bottom: 10px;
  font-size: 1.5em;
  color: #0f4230;
}

.card-info {
  display: flex;
  position: relative;
  align-self: end;
  align-items: center;
}

.btn {
  color: #ffffff;
  display: flex;
  position: relative;
  justify-content: center;
  align-items: center;
  bottom: 0;
  margin-top: 0.8vw;
  padding: 0.8rem;
  font-size: 20px;
  border-radius: 4px;
  font-weight: 400;
  display: block;
  width: 100%;
  cursor: pointer;
  background-color: #ea724b;
  border: 1px solid rgba(255, 255, 255, 0.2);
}


@media only screen and (max-width: 1000px) {
  .cards{
    margin-left:4vw;
    margin-right: 4vw;
  }
  .card h2{
    margin-bottom: 1vw;
  }
  .card {
    grid-column-end: span 6;
  }
}

@media only screen and (max-width: 700px) {
  main {
    grid-gap: 20px;
  }
  .cards{
    margin-left:7vw;
    margin-right: 7vw;
  }
  .card {
    grid-column-end: span 12;
  }
}

@media only screen and (max-width: 500px) {
  .agency {
    grid-template-columns: 10px repeat(6, 1fr) 10px;
    grid-gap: 10px;
  }
  .cards {
    grid-column: 2 / span 6;
    grid-template-columns: repeat(6, 1fr);
    grid-gap: 20px;
    margin-left:10vw;
    margin-right: 10vw;
  }
  .card {
    grid-column-end: span 6;
  }
  #pretraga-radio{
    font-size: 0.75em;
  }
}

/*================== AGENCIJA - POSEBNA STRANICA ================ */
.glavni-agencija{
  max-width: 100vw;
  padding-left: 2em;
  padding-right: 2em;
  display: flex;
  margin: 0;
  align-items: center;
  justify-content: center;
  padding-top: 5rem;
  padding-bottom: 1rem;
  background-color: #3F9DA2;
}
.glavni-agencija img{
  width: 30%;
}
.glavni-agencija h1{
  font-size: 1.5em;
  color: #ffffff;
  font-weight: 800;
}
.glavni-agencija .tekst-agencija{
  font-size: 1rem;
  margin-left: 2vw;
  max-width: 50%;
  color: #ffffff;
}
@media only screen and (max-width: 500px) {
  .glavni-agencija{
    display: block;
  }
  .glavni-agencija .tekst-agencija{
    max-width: 100%;
  }
  .glavni-agencija img{
    width: 100%;
  }
}
/*================== DESTINACIJE AGENCIJE ================ */
#destinacije-lista{
  background-color: #98DACE;
}
#destinacije-podnaslov{
    background-color: rgb(237, 237, 237);
    font-size: 2em;
    text-align: center;
    color: #e06a38;
    padding: 10px;
}
.form-popup {
  display: none;
  position: fixed;
  height: 100%;
  width: 100%;
  bottom: 0;
  align-items: center;
  justify-content: center;
  background-color:rgba(0,0,0,.5);
  z-index: 9;
}
/*================== DESTINACIJA STRANICA ================ */
.glavni-destinacija{
  align-items: center;
  background-color: #35bbb6;
  padding-top: 4rem;

}
.glavni-destinacija h1{
  font-size: 1.5em;
  padding: 2vw;
  font-weight: 800;
  color: white;
  text-align: center;    
}
.tekst-destinacija{
  padding: 3vw;
}
.tekst-destinacija p{
  font-size: 1rem;
  text-align: center;
  color: #0f1727;
}
.slajdovi{
  max-width: 100%;
  max-height: 70%;
  background-color: #556162;
  display: flex;
  justify-content: space-between;
  padding-left: 1vw;
  padding-right: 1vw;
  align-items: center;
  margin-top: 2vw;
}
.slajd img{
  max-height: 40vw;
}
.galerija {
  min-width: 15em;
}
.slajd {
  display: none;
}
.prev, .next {
  cursor: pointer;
  color: white;
  font-weight: bold;
  font-size: 2rem;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

.prev:hover, .next:hover {
  color: rgba(187, 202, 255, 0.8);
}

/*================== LOGIN/REGISTRACIJA ================ */
#registracijaForma .form-container, #updateForma .form-container{
  width: 50%;
}
#loginForma .form-container{
  width: 30%;
}
#registracija-adresa{
  display: flex;
  justify-content: space-evenly;
}
#registracija-adresa input{
  width: 33%;
  margin-right: 2em
}
@media(max-width:800px){
  #registracijaForma .form-container, #updateForma .form-container{
    width:80%
  }
  #loginForma .form-container{
    width: 50%;
  }
}
.form-container {
  position: relative;
  padding: 1rem;
  border-radius: 1vw;
  background-color: white;
}
.form-container input{
  position: relative;
  display: block;
  width: 100%;
  padding-left: 0.5em;
  font-size: 1em;
  border: none;
  background: #f1f1f1;

}
.form-container h1{
  font-size: 1.5em;
}

.form-container .btn {
  background-color: #21dfc6;
  color: white;
  padding: 0.5vw;
  font-size: 1em;
  border: none;
  cursor: pointer;
  width: 100%;
}

.form-container .cancel {
  background-color: rgb(222, 105, 73);
}
.form-container p{
  font-size: 1rem;
}


/*================== TABELE ================ */
table {
  border: 1px solid #ccc;
  table-layout: fixed;
  width: 100%;
}
.tabela{
  padding-top: 4rem;
}
.tabela h1 {
  font-size: 1.5em;
  text-align: center;
  margin: .5em 0 .75em;
}

table tr {
  background-color: #f8f8f8;
  border: 1px solid #ddd;
  padding: .35em;
}

table th,
table td {
  padding: .625em;
  text-align: center;
  overflow: hidden;
}

table th {
  font-size: .85em;
  letter-spacing: .1em;
  text-transform: uppercase;
}
.izmeni, .obrisi{
  margin: 5px;
  padding: 2px;
  font-size: 1em;
  width: fit-content;
  border-radius: 5px;
  color: white;
}
.izmeni:hover,.obrisi:hover{
  background-color: rgb(151, 151, 151);
  border-color: #000000;
  color: black;
  cursor: pointer;
}
.izmeni{
  background-color: #02ac8d;
  border: 2px rgb(31, 107, 52);
}
.obrisi{
  background-color: rgb(204, 48, 48);
  border: 2px rgb(155, 51, 51);
}
#dest-ag{
  display: flex;
  flex-direction: row;
}
#obrisiDest{
  display: inline;
  margin-left: 0.5em;
  border-radius: 0.25em;
  color:white;
  padding: 0.25em;
  background-color: rgb(204, 48, 48);
  border: 2px rgb(155, 51, 51);
}
#obrisiDest:hover{
  background-color: rgb(150, 24, 24);
}
@media screen and (max-width: 950px) {
  table {
    border: 0;
  }

  table caption {
    font-size: 1.3em;
  }
  
  table thead {
    border: none;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
  }
  
  table tr {
    border-bottom: 3px solid #ddd;
    display: block;
    overflow: hidden;
    margin-bottom: .625em;
  }
  
  table td {
    border-bottom: 1px solid #ddd;
    display: block;
    overflow: hidden;
    font-size: .8em;
    text-align: right;
  }
  
  table td::before {
    content: attr(data-label);
    float: left;
    font-weight: bold;
    text-transform: uppercase;
  }
  
  table td:last-child {
    border-bottom: 0;
  }
}

/*================== FOOTER ================ */
footer{
  background-color: #1D2731;
  width: 100%;
  bottom: 0;
  text-align: center;
  padding-top: 20px;
  padding-bottom: 20px;
}
.footer-links a{
  padding: 2%;
  text-decoration: none;
  font-size: 1em;
  color: rgb(212, 213, 215);
}
.footer-links a:hover{
  color: rgb(161, 164, 180) ;
}
footer p{
  color:rgb(221, 221, 223);
  font-size: 1em;
}

#userValEdit{
  display:none;
}
#userValEditIsti{
  display:none;
}

#userVal{
  display:none;
}
#userValIsti{
  display:none;
}